@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-sidebar-scroll::-webkit-scrollbar {
    width: 4px;
}

.custom-sidebar-scroll::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 4px;
}

.custom-sidebar-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #2c3441;
}

.custom-sidebar-scroll::-webkit-scrollbar-track {
    background-color: #1c2430;
}

.custom-main-scroll::-webkit-scrollbar {
    width: 5px;
}

.custom-main-scroll::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    border-radius: 4px;
}

.custom-main-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #718096;
}

.custom-main-scroll::-webkit-scrollbar-track {
    background-color: #e2e8f0;
}

.custom-main-scroll::-webkit-scrollbar-track {
    background-color: #1c2430;
}

.font-primary {
    font-family: "Inconsolata", monospace;
}

.font-secondray {
    font-family: "Montserrat", sans-serif;
}

.parent {
    border-bottom: 2px dotted red;
    padding: 1rem 1rem;
}

.heading {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

p,
span {
    font-family: "Inconsolata", monospace;
}